[Unit]
Description=Nessus Exporter Service
After=network.target
After=elasticsearch.service
After=kibana.service
After=nessusd.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /etc/nessus-exporter/src/nessusexporter.py

[Install]
WantedBy=multi-user.target
